<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @journal.name %>
</p>

<%= link_to 'Edit', edit_journal_path(@journal) %> |
<%= link_to 'Back', journals_path %>

<%= render 'journal_entry_form', journal_entry: @journal_entry %>

<ul id="journal_entries">
  <% @journal.journal_entries.each do |je| %>
  <%= render(:partial => 'journal_entries/single', :locals => { :journal_entry => je }) %>
  <% end %>
</ul>
