<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @journal.name %>
</p>

<%= link_to 'Edit', edit_journal_path(@journal) %> |
<%= link_to 'Back', journals_path %>

<%= render 'journal_entry_form', journal_entry: @journal_entry %>


<div class="container-fluid">
  <div class="row">
  <% @journal.journal_entries_by_collection.each do |collection_key, jes| %>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= collection_key.strftime('%-m/%-d/%Y') %></h5>
          <ul id="journal-entries-<%= collection_key.strftime('%-m-%-d-%Y') %>">
            <% jes.each do |je| %>
            <%= render(:partial => 'journal_entries/single', :locals => { :journal_entry => je }) %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>
